/* :root {
  --primary-color: hsl(0, 0%, 20%);
  --secondary-color: hsl(0, 0%, 60%);
  --tertiary-color: hsl(0, 0%, 100%);
  --quaternary-color: hsl(324, 63%, 44%);
  --quinary-color: hsl(324, 63%, 42%);
  --sexta-color: hsl(324, 63%, 44%, 10%);
}; */

/* Cabeçalho */

.top-space {
  background-color: hsla(0, 0%, 0%, 0.6) !important;
  position: absolute;
}

#top-menu {
  top: 40px;
  background-color: hsla(0, 0%, 0%, 0.6) !important;
}

.nav-link {
  background: white !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent;
  font-weight: 700 !important;
}

.dropdown-menu {
  background-color: hsla(0, 0%, 0%, 0.6) !important;
}

.navbar-nav li:has(ul.dropdown-menu.show) > a {
  background: var(--quaternary-color) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.btn-carrinho,
.btn-cadastre {
  color: white !important;
}

.container {
  max-width: 1200px !important;
}

.carousel-caption {
  margin-top: 129px !important;
}

.carousel-caption h4 {
  margin-top: -12rem !important;
}

@media only screen and (max-width: 767px) {
  #banner .carousel-caption {
    top: 125px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    padding: 0rem 1rem 0 1rem !important;
    height: unset !important;
    max-width: 100% !important;
    margin-top: 0 !important;
  }

  #banner h4 {
    width: 100% !important;
  }
}

@media only screen and (max-width: 575px) {
  #banner .carousel-caption {
    top: 60px !important;
  }

  .container {
    padding: 0;
  }

  #top-menu {
    top: 0px;
  }

  .navbar-brand {
    margin: 0 0 0 1rem;
    padding: 0;
  }

  #logo2 {
    max-height: 50px !important;
  }

  .navbar-toggler {
    margin-right: 1rem;
  }
}
